@font-face {
    font-family: "Roboto";
    src: local("Roboto Regular"),
    local("Roboto-Regular"),
    url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Bitter";
    src: local("Bitter Regular"),
    local("Bitter-Regular"),
    url("../fonts/Bitter/static/Bitter-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Playfair Display";
    src: local("PlayfairDisplay Regular"),
    local("Playfair Display Regular"),
    local("PlayfairDisplay-Regular"),
    local("Playfair-Display-Regular"),
    url("../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf") format("truetype");
    font-weight: normal;
}

* {
	padding: 0px;
	margin: 0px;
	border: none;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28.13px;
}

.headerNav {
    font-weight: 500;
    text-align: right;
}

.modStudioSectionTitle {
    font-family: 'Playfair Display';
    font-size: 2.8rem;
    line-height: 3.7rem;
    font-weight: 500;
    text-align: center;
    margin-bottom:5px;
    margin-top: 85px;
}

.modStudioSectionParagraph {
    font-family: 'Roboto';
    font-size: 0.65rem;
    line-height: 0.8rem;
    font-weight: 500;
    text-align: center;
}

.biographySectionSubtitle {
    font-weight: 700;
    font-size: 0.8rem;
    text-align: right;
    transform: rotate(270deg);
}

.biographySectionHeroBox {
    order: 3;
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.biographySectionHeroName {
    font-family: 'Playfair Display';
    font-size: 2.8rem;
    line-height: 4.1rem;
}

.biographySectionHeroSkills {
    font-weight: 500;
    font-size: 0.6rem;
    line-height: 0.75rem;
}

.biographySectionHeroQuote {
    font-family: "Bitter";
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.1rem;
}

.biographySectionHeroSeparator {
    font-size: 2.5rem;
}

.designersSectionSubtitle, .strongpointsSectionSubtitle {
    font-weight: 700;
    font-size: 0.8em;
    grid-column: 2 / 3;

}

.testimonialsSectionLinks {
    font-size: 0.7rem;
    line-height: 0.7rem;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}

.testimonialsSectionQuote {
    font-family: "Bitter";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: center;
}

.strongpointsSectionStrengthsListname {
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 3.1rem;   
}

.strongpointsSectionStrengthsList {
    font-family: "Bitter";
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.45rem;
}

.headerWrapper {
    padding-top: 37px;
    padding-bottom: 37px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

.headerLink {
    padding:18px;
    font-size: 0.8rem;
    text-decoration: none;
    color: black;
}

.modStudioSection {
    background-color: #d9cacb;
    background-image: url("../img/inside-weather-Uxqlfigh6oE-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 150px;
    max-height: 500px;
    display: flex;
}

.modStudioSectionBox {
    padding-bottom: 286px;
    margin-top: -46px;
    width: 48%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    max-width: 690px;
}

.biographySectionBox {
    display: flex;
    padding-top: 112.5px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    max-width: 920px;
}

.biographySectionImageBox {
    order: 1;
}

.biographySectionSubtitleBox {
    order: 2;
    padding-top: 32px;
    padding-right: 30px;
}

.KatyaMillsImg {
    width: 450px;
}

.testimonialsLink {
    transform: rotate(270deg);
    margin: auto;
    display: grid;
    font-size: 0.5rem;
}

.testimonialsLink a {
    text-decoration: none;
    color: black;
}

.testimonialsSectionBox {
    padding-top: 80px;
    display: grid;
    grid-template-columns: 5% 35% 5% 30%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin: auto;
    max-width: 920px;
}

.testimonialsSectionQuoteBox {
    display: grid;
    padding-top: 32px;
    justify-content: right;
}

.testimonialsSectionSubtitleBox {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.testimonialsSectionSubtitle {
    transform: rotate(270deg);
    font-size: 0.8rem;
}

.testimonialsSectionMainImgBox {
    width: 355px;
    padding-left: 20px;
}

.testimonialsSectionQuoteImg {
    width: 174px;
}

.designersSectionBox {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: flex-start;
    align-items: start;
    justify-items: start;
    overflow-x: auto;
    padding: 20px 16px;
    gap: 15px;
}

.designerBlock {
    padding-top: 80px;
}

.designerDescription {
    font-size: 0.5rem;
    line-height: 0.7rem;
    padding-top: 10px;
}

#designers {
    padding-top: 110px;
    display: grid;
    justify-content: center;
}

.JessWonderImg {
    width: 450px;
}

.KameronCleinImg {
    width: 262px;
}

.LouisseRedImg {
    width: 258px;
}

.mainDesignerDescription {
    padding-top: 10px;
    padding-left: 190px;
    font-size: 0.5rem;
    line-height: 0.7rem;
}

.designersSectionSubtitleBox {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}