@font-face {
    font-family: "Roboto";
    src: local("Roboto Regular"),
    local("Roboto-Regular"),
    url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Bitter";
    src: local("Bitter Regular"),
    local("Bitter-Regular"),
    url("../fonts/Bitter/static/Bitter-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Playfair Display";
    src: local("PlayfairDisplay Regular"),
    local("Playfair Display Regular"),
    local("PlayfairDisplay-Regular"),
    local("Playfair-Display-Regular"),
    url("../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf") format("truetype");
    font-weight: normal;
}

* {
	padding: 0px;
	margin: 0px;
	border: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28.13px;
}

.headerNav {
    font-weight: 500;
    text-align: right;
}

.modStudioSectionTitle {
    font-family: 'Playfair Display';
    font-size: 2.8rem;
    line-height: 3.7rem;
    font-weight: 500;
    text-align: center;
    margin-bottom:5px;
    margin-top: 85px;
}

.modStudioSectionParagraph {
    font-family: 'Roboto';
    font-size: 0.65rem;
    line-height: 0.8rem;
    font-weight: 500;
    text-align: center;
}

.biographySectionSubtitle {
    font-weight: 700;
    font-size: 0.8rem;
    text-align: right;
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
}

.biographySectionHeroBox {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding-top: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 11px;
}

.biographySectionHeroName {
    font-family: 'Playfair Display';
    font-size: 2.8rem;
    line-height: 4.1rem;
}

.biographySectionHeroSkills {
    font-weight: 500;
    font-size: 0.6rem;
    line-height: 0.75rem;
}

.biographySectionHeroQuote {
    font-family: "Bitter";
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.1rem;
}

.biographySectionHeroSeparator {
    font-size: 2.5rem;
}

.designersSectionSubtitle {
    font-weight: 700;
    font-size: 0.8em;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;

}

.strongpointsSectionSubtitle {
    font-weight: 700;
    font-size: 0.8em;
    padding-left: 175px;

}

.testimonialsSectionLinks {
    font-size: 0.7rem;
    line-height: 0.7rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (auto)[3];
    grid-template-rows: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}

.testimonialsSectionQuote {
    font-family: "Bitter";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: center;
}

.strongpointsSectionStrengthsListname {
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 3.1rem;
    padding-bottom: 10px;
    text-align: center;
}

.strongpointsSectionStrengthsList {
    font-family: "Bitter";
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.31rem;
    list-style-type: none;
    padding-left: 60px;
}

.headerWrapper {
    padding-top: 37px;
    padding-bottom: 37px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

.headerLink {
    padding:18px;
    font-size: 0.8rem;
    text-decoration: none;
    color: black;
}

.modStudioSection {
    background-color: #d9cacb;
    background-image: url("../img/inside-weather-Uxqlfigh6oE-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 150px;
    max-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.modStudioSectionBox {
    padding-bottom: 286px;
    margin-top: -46px;
    width: 48%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    max-width: 690px;
}

.biographySectionBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 112.5px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
    max-width: 920px;
}

.biographySectionImageBox {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}

.biographySectionSubtitleBox {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 32px;
    padding-right: 30px;
}

.KatyaMillsImg {
    width: 450px;
}

.testimonialsLink {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
    margin: auto;
    display: -ms-grid;
    display: grid;
    font-size: 0.5rem;
}

.testimonialsLink a {
    text-decoration: none;
    color: black;
}

.testimonialsSectionBox {
    padding-top: 80px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5% 25px 35% 25px 5% 25px 30%;
    grid-template-columns: 5% 35% 5% 30%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 25px;
    margin: auto;
    max-width: 920px;
}

.testimonialsSectionQuoteBox {
    display: -ms-grid;
    display: grid;
    padding-top: 32px;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
}

.testimonialsSectionSubtitleBox {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[6];
    grid-template-rows: repeat(6, 1fr);
}

.testimonialsSectionSubtitle {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
    font-size: 0.8rem;
}

.testimonialsSectionMainImgBox {
    width: 355px;
    padding-left: 20px;
}

.testimonialsSectionQuoteImg {
    width: 174px;
}

.designersSectionBox {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 15px auto 15px auto 15px auto;
    grid-template-columns: repeat(4, auto);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    justify-items: start;
    overflow-x: auto;
    padding: 20px 16px;
    gap: 15px;
}

.designerBlock {
    padding-top: 80px;
}

.designerDescription {
    font-size: 0.5rem;
    line-height: 0.7rem;
    padding-top: 10px;
}

#designers {
    padding-top: 110px;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.JessWonderImg {
    width: 450px;
}

.KameronCleinImg {
    width: 262px;
}

.LouisseRedImg {
    width: 258px;
}

.mainDesignerDescription {
    padding-top: 10px;
    padding-left: 190px;
    font-size: 0.5rem;
    line-height: 0.7rem;
}

.designersSectionSubtitleBox {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[10];
    grid-template-columns: repeat(10, 1fr);
}

.strongpointsSectionBoxWrapper {
    padding: 110px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1425px;
    margin: auto;
}

.strongpointsSectionSubtitle {
    padding-bottom: 20px;
}

.strongpointsSectionBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    justify-items: start;
    overflow-x: auto;
    gap: 17px;
}

@supports (display: grid) {
    .strongpointsSectionBox {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: auto 17px auto 17px auto 17px auto 17px auto;
        grid-template-columns: repeat(5, auto);
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: start;
        justify-items: start;
        overflow-x: auto;
        gap: 17px;
    }

    .strongpointsSectionBoxWrapper {
        padding: 110px 16px;
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

.strongPointsImg {
    width: 250px;
}

.strongpointsSectionStrengthsListBox {
    padding-left: 22px;
    min-width: 325px;
}